main{
    display: flex;
    flex-direction: column;
}
/*Header*/
#header{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 999;   
}
#recta{
   width: 100%;
   height: 72px;
   background: #164576;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
   overflow: hidden;
   display: flex;
   justify-content: space-between;
}
#logo{
   position: absolute;
   width: 12.938rem;
   height: 5rem;
   left: 0.75rem;
   top: -1.188rem;
}
#simbolo{
   width: 13rem;
   height: 13rem;
   left: 28rem;
   top: -8.188rem;
}
/*Bonton menu*/
#menu{
   width: 46px;
   height: 32px;
   margin-top: 1.2rem;
   margin-right: 1rem;
   z-index: 7;
}
input {
   display: none;
}
label menu {
   box-sizing: border-box;
/* display: inline-block; */
   width: 46px;
   height: 32px;
   line-height: 30px;
   font-weight: bold;
   text-align: center;
   user-select: none;
}
/*Bonton menu*/

  /* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
background: rgba(22, 69, 118, 0.9); ;
}
/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
   filter: opacity(.);
   transition:all .5s ease-in-out;
}
/* Estilo del boton cuando el menú está expandido*/

ul{
   position:absolute;
   display: none;
   left: 7rem;
}
input:checked  ~ ul{
   display:block;
} 
li{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 200px;
   height: 56px;
   background: rgba(22, 69, 118, 0.9);
   border: 1px solid rgba(0, 0, 0, 0.19);
   box-sizing: border-box;
}      
a{
   font-family: Reem Kufi;
   font-size: 30px; 
   line-height: 45px;
   text-align: center;
   text-decoration-line: underline;
   color: #f8b0b0;
}               
  /*Header*/
  /*Inicio*/
#sakura1{
   display: flex;
   width: 363px;
   height: 292px;
   margin-top: -33rem;
   margin-left: -0.5rem;
 }
 #frase{
   display: flex;
   width: 21.563rem;
   height: auto;
   z-index: 100;
   margin-top: 0rem;
   padding-top: 1ç3rem;
   padding-bottom: 1rem;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 15px;
   font-family: Reem Kufi;
   font-size: 1.875rem;
   line-height: 45px;
   text-align: center;
   color: #FFFFFF;
   text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.46);
 }
 #fondo1{
   display: flex;
   width: 360px;
   height: 568px;
   margin-top: 4rem;
   margin-left: -0.4rem;
   box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.7);

 }
 /*inicio*/
 /*sinopsis*/

 /*#fondo2{  
background-size: cover;
background-repeat: repeat-x;
background: url(img/simbolo.png), #164576;
 }*/
 body{
   background-repeat: repeat-y;  
   background: url(img/fondo2.png);
 }
#rect1{    
   width: 100%;
   height: auto;
   margin-top: 3rem;
   margin-left: 0.1rem;
   margin-bottom: 2rem;
   padding-bottom: 0rem;
   background: rgba(191, 45, 50, 0.51);
}
#imgkero1{   
   width: 147px;
   height: 111px;
   margin-top: -1rem;
}
#sinopsist{   
   width: 231px;
   height: 50px;
   margin-top:-5rem;
   margin-left: 7rem;
   font-family: Reem Kufi;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 60px;
   text-align: center;
   color: #FFFFFF;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
#parrafo1{ 
   width: 100%;
   height: 749px;
   margin-top: -0.5rem;
   font-family: Reem Kufi;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 25px;
   text-align: center; 
   color: #FFFFFF;
}
/* #vermas{
    position: absolute;
    width: 222px;
    height: 58px;
    left: 59px;
    top: 804px;
background: #164576;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
} */
 /*sinopsis*/
 /*cartas*/
 /* inicio Lista cartas*/
 #rect2{  
   width: 100%;
   height: 100%;
   margin-left: 0.1rem;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   background: rgba(191, 45, 50, 0.51);
 }
 #imgkero2{
   width: 127px;
   height: 181px;
   margin-top: -3rem;
   margin-left: 2rem;
 }
 #cartasT{   
   width: 231px;
   height: 64.86px;
   margin-top: -7rem;
   margin-left: 7rem;
   font-family: Reem Kufi;
   font-style: normal;
   font-weight: normal;
   font-size: 40px;
   line-height: 60px;
   text-align: center; 
   color: #FFFFFF; 
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #parrafo2{ 
   width: 100%;
   top:-7rem;
   margin: 0%;
   font-family: Reem Kufi;
   font-size: 24px;
   line-height: 36px;
   text-align: center; 
   color: #FFFFFF;
 }

.verlistat{
   font-family: Reem Kufi;
   font-style: normal;
   background: #164576;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
   font-size: 30px;
   line-height: 45px;
   text-align: center;
   color: #FFFFFF;
   padding: 0.4rem 2rem;
   margin-top: 0.5rem;
   margin-left: 5rem;

}
#verlista{
   display: none;
   top: -6rem;
   left: 2rem;
   flex-direction: row;
   align-items: center;
   margin: 0;
   padding: 0;
   width: 17.5rem;
   background: rgba(191, 45, 50, 0.51);
   box-shadow: 0px 4px 6px #000000;
}
td{
   font-family: Reem Kufi;
   font-style: normal;
   font-weight: normal;
   font-size: 4vh;
   line-height: 1.5rem;
   border-bottom: 1px solid black;
   text-align: center;
   color: #FFFFFF;
}
tr{
   font-family: Reem Kufi;
   font-style: normal;
   font-weight: normal;
   font-size: 1.5rem;
   line-height: 2.5rem;
   text-align: center;
   color: #000000;
   height: 3rem;
}
.tituloTabla{
    border-bottom: 1px solid #000000;
    height: 3rem;
    width: 8.75rem;
    text-align: center;
    margin: -4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
 /*Fin Lista cartas*/
 /*Inicio Cartas Clow*/
 #rect3{
    margin-top: rem;
    width: 21.313rem;
    height: auto;
    margin-left: 0.1rem;
    margin-bottom: 2rem;
    padding-bottom: 7rem;
    background: rgba(191, 45, 50, 0.51);
 }
 #CartasClowT{
    width: 210px;
    top: -12rem;
    margin-top: -7rem;
    margin-left: 7rem;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #imgKero3{
   width: 127px;
   height: 181px;
   margin-top: -3rem;
   margin-left: 2rem;
    
 }
 #Parrafo3{
    
    width: 100%;
    top:-8rem;
    margin: 0%;
    font-family: Reem Kufi;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
 }
 .verCartasTC{
    font-family: Reem Kufi;
    font-style: normal;
    background: #164576;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.4rem 2rem;
    margin-left: 4.3rem;
    top: -6rem;
    }
#VerCartasC{
    display: none;  
        }
#ImgCartasClow{
    
    width: 20rem;
    margin-top: -7rem;
    margin-left: 0.6rem;
    margin-bottom: 7rem;
}
/* Fin Cartas Clow */
/* Inicio Cartas Sakura */
#rect4{
    
    width: 21.313rem;
    height: auto;
    margin-top: 1rem;
    background: rgba(191, 45, 50, 0.51);
    
    
 }
 #CartasSakuraT{
    
    width: 210px;
    top: -12rem;
    margin: 0;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #imgKero4{
   
    width: 127px;
    height: 181px;
    left: 172px;
    top: -43px;
    
 }
 #Parrafo4{
    
    width: 100%;
    top:-8rem;
    margin: 0%;
    font-family: Reem Kufi;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
 }
 .verCartasTS{
    
    font-family: Reem Kufi;
    font-style: normal;
    background: #164576;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.4rem 2rem;
    margin-left: 4.3rem;
    top: -6rem;
    }
#VerCartasS{
    display: none;  
        }
#ImgCartasSakura{
    
    width: 20rem;
    margin-top: -7rem;
    margin-left: 0.6rem;
    margin-bottom: 7rem;
}
/* Fin Cartas Sakura */
/* inicio Poderes */
#rect5{
   
    width: 21.313rem;
    min-height: calc(100vh - 100px);
    align-content: flex-end;
    margin-left: 0.3rem;
    
    background: rgba(191, 45, 50, 0.51);
 }
 #PersonajesT{
    
    width: 210px;
    top: -5rem;
    left: 8rem;
    margin: 0;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #imgKero5{
    
    width: 147px;
    height: 111px;
    left: 1px;
    top: -23px;
    
 }
 #Parrafo5{
   
    width: 100%;
    top:-3rem;
    margin: 0%;
    font-family: Reem Kufi;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
 }
