*{
   margin: 0px;
}
/*Header*/
#header{
   scroll-snap-align: start;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1;
      
}
#recta{
   width: 100%;
   height: 72px;
   background: #164576;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
   overflow: hidden;
   display: flex;
   justify-content: space-between;
}
#logo{
   position: absolute;
   width: 12.938rem;
   height: 5rem;
   left: 0.75rem;
   top: -1.188rem;
}
#simbolo{
   width: 19rem;
   left: 28rem;
   top: -8.188rem;
}
/*Bonton menu*/
#menu{
   width: 46px;
   height: 32px;
   margin-top: 1.2rem;
   margin-right: 1rem;
}
input {
   display: none;
}
label menu {
   box-sizing: border-box;
   display: inline-block;
   width: 46px;
   height: 32px;
   line-height: 30px;
   font-weight: bold;
   text-align: center;
   user-select: none;
}
/*Bonton menu*/

  /* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
   background: rgba(22, 69, 118, 0.9); ;
}
/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
   filter: opacity(.6);
   transition:all .5s ease-in-out;
}
/* Estilo del boton cuando el menú está expandido*/

ul{
   position:absolute;
   display: none;
   right: 0.5rem;
}
input:checked  ~ ul{
   display:block;
} 
li{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 200px;
   height: 56px;
   background: rgba(22, 69, 118, 0.9);
   border: 1px solid rgba(0, 0, 0, 0.19);
   box-sizing: border-box;
}      
a{
   font-family: Reem Kufi;
   font-size: 30px; 
   line-height: 45px;
   text-align: center;
   text-decoration-line: underline;
   color: #f8b0b0;
}               
  /*Header*/
  /*Inicio*/
  #inicio{
   margin-top: 72px;
   padding: 0rem;
   width: 100%;
   height: 568px;
   background-size: cover;
   background-position: center;
   background-color: #f8b0b0;
   background-image: url("img/simbolo1.png");
   background-repeat: no-repeat;
   margin-bottom: 1rem;
}
#sakura1{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2rem;
   width: 360px;
   height: 292px;
 }
 #frase{
   display: flex;
   width: 100%;
   margin-bottom: 2.4rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 15px;
   font-family: Reem Kufi;
   font-size: 1.875rem;
   line-height: 45px;
   text-align: center;
   color: #FFFFFF;
   text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.46);
 }
 #frase3{
    display: none;
 }
 #Sakuras{
    display: none;
 }
 #fondo1{
   display: flex;
   width: 100%;
   height: 568px;
   margin-top: 4rem;
   margin-left: -0.4rem;
   box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.7);

 }
 /*inicio*/
 /*sinopsis*/

 /*#fondo2{  
background-size: cover;
background-repeat: repeat-x;
background: url(img/simbolo.png), #164576;
 }*/
 main{
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0px;
}
 body{
   background-repeat: repeat-y;  
   background: url(img/Rectangle\ 4.png);
   padding: 0rem;
   width: 100%;
   height: 40rem;
   background-size: cover;
   background-position: center;
   background-color: #164576;
 }
 /* body{
   background-repeat: repeat-y;  
   background: url(img/Rectangle4.png);
 } */
#rect1{    
   width: 100%;
   height: auto;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   background: rgba(0, 0, 0, 0.49);
}
#imgkero1{  
   flex-direction: row; 
   width: 147px;
   height: 111px;
   margin-top: -1rem;
}
#sinopsist{ 
   flex-direction: row;   
   width: 231px;
   height: 50px;
   margin-top:-5rem;
   margin-left: 7rem;
   font-family: Reem Kufi;
   font-size: 40px;
   line-height: 60px;
   text-align: center;
   color: #FFFFFF;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
#parrafo1{ 
   width: 90%;
   height: auto;
   display: block;
   margin: auto;
   margin-top: 2rem;
   font-family: Reem Kufi;
   font-size: 20px;
   line-height: 25px;
   text-align: justify; 
   color: #FFFFFF;
}
/* #vermas{
    position: absolute;
    width: 222px;
    height: 58px;
    left: 59px;
    top: 804px;
background: #164576;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
} */
 /*sinopsis*/
 /*cartas*/
 /* inicio Lista cartas*/
 #rect2{  
   width: 100%;
   height: 100%;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   background: rgba(0, 0, 0, 0.49);
 }
 #imgkero2{
   width: 127px;
   height: 181px;
   margin-top: -3rem;
   margin-left: 2rem;
 }
 #cartasT{   
   width: 231px;
   height: 64.86px;
   margin-top: -7rem;
   margin-left: 7rem;
   font-family: Reem Kufi;
   font-size: 40px;
   line-height: 60px;
   text-align: center; 
   color: #FFFFFF; 
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #parrafo2{
   width: 90%; 
   display: block;
   margin: auto;
   margin-top: 2rem;
   font-family: Reem Kufi;
   font-size: 20px;
   line-height: 36px;
   text-align: justify; 
   color: #FFFFFF;
 }

.verlistat{
   font-family: Reem Kufi;
   background: #164576;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
   border: none;
   font-size: 30px;
   line-height: 45px;
   text-align: center;
   color: #FFFFFF;
   padding: 0.4rem 2rem;
   margin-top: 0.5rem;
   margin-left: 5rem;

}
#verlista{
   display: none;
   top: -6rem;
   left: 2rem;
   flex-direction: row;
   align-items: center;
   margin-left: 2rem;
   margin-top: 1rem;
   width: 17.5rem;
   background: rgba(191, 45, 50, 0.51);
   box-shadow: 0px 4px 6px #000000;
}
td{
   font-family: Reem Kufi;
   font-size: 4vh;
   line-height: 1.5rem;
   border-bottom: 1px solid black;
   text-align: center;
   color: #FFFFFF;
}
tr{
   font-family: Reem Kufi;
   font-size: 1.5rem;
   line-height: 2.5rem;
   text-align: center;
   color: #000000;
   height: 3rem;
}
.tituloTabla{
    border-bottom: 1px solid #000000;
    height: 3rem;
    width: 8.75rem;
    text-align: center;
    margin: -4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
 /*Fin Lista cartas*/
 /*Inicio Cartas Clow*/
 #rect3{
    width:100%;
    height: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.49);
 }
 #CartasClowT{
    width: 210px;
    margin-top: -7rem;
    margin-left: 7rem;
    font-family: Reem Kufi;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #imgKero3{
   width: 127px;
   height: 181px;
   margin-top: -3rem;
   margin-left: 2rem;
    
 }
 #Parrafo3{
   width: 90%; 
   display: block;
   margin: auto;
   margin-top: 2rem;
    font-family: Reem Kufi;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: #FFFFFF;
 }
 .verCartasTC{
    font-family: Reem Kufi;
    background: #164576;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    border: none;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.4rem 2rem;
    margin-left: 4.3rem;
    margin-top: 1rem;
    }
#VerCartasC{
    display: none;  
        }
#ImgCartasClow{
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
    margin-bottom: 0rem;
}
/* Fin Cartas Clow */
/* Inicio Cartas Sakura */
#rect4{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.49);
 }
 #CartasSakuraT{
    
    width: 210px;
    margin-top: -7rem;
    margin-left: 7rem;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #imgKero4{
   width: 127px;
   height: 181px;
   margin-top: -3rem;
   margin-left: 2rem;
    
 }
 #Parrafo4{
   width: 90%; 
   display: block;
   margin: auto;
   margin-top: 2rem;
    font-family: Reem Kufi;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: #FFFFFF;
 }
 .verCartasTS{
    
    font-family: Reem Kufi;
    background: #164576;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    border: none;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    padding: 0.4rem 2rem;
    margin-left: 4.3rem;
    margin-top: 1rem;
    }
#VerCartasS{
    display: none;  
    }
#ImgCartasSakura{
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0.8rem;
    }
/* Fin Cartas Sakura */
/* inicio Personajes */
#rect5{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.49);
 }
 #PersonajesT{
    
    width: 210px;
    margin-top: -3rem;
    margin-left: 8rem;
    font-family: Reem Kufi;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 #imgKero5{
    width: 147px;
   margin-top: -3rem;
   margin-left: 0rem;
 }
 #Parrafo5{
   width: 90%; 
   display: block;
   margin: auto;
   margin-top: 2rem;
    font-family: Reem Kufi;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: #FFFFFF;
 }
 pre{
   display: none;
 }
.FPersonajes{
   display: grid;
   grid-column: x0 / x2;
   grid-row: y0 / y8;
   row-gap: 20px;
   width: 90%; 
   justify-items: justify;
   margin: auto;
   margin-top: 2rem;
   font-family: Reem Kufi;
   font-size: 24px;
   line-height: 25px;
   color: white;
   text-align: center;
 }
 .CirculoPS{
   width: 140px;
   height: 140px;
   grid-column-start: 2;
   grid-column-end: 1;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   background-color: rgba(191, 45, 50, 0.51);
   background-image:url(img/Sakura2.png);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   background-size: 10rem;
 }
 .S{
   grid-column-start: 1;
   grid-column-end: 1;
   width: 100%;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 .CirculoPK{
   width: 140px;
   height: 140px;
   grid-column-start: 2;
   grid-column-end: 2;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   background-color: rgba(191, 45, 50, 0.51);
   background-image:url(img/Kero3.png);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   background-size: 20rem;
   background-position: -12rem 0.5rem;
   background-repeat: no-repeat;
 }
.K{
   grid-column-start: 2;
   width: 100%;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 } 
 .CirculoPL{
   width: 140px;
   height: 140px;
   grid-column-start: 2;
   grid-column-end: 1;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   background-color: rgba(191, 45, 50, 0.51);
   background-image:url(img/Syaoran.png);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   background-size: 15rem;
   background-position: -3rem 0.5rem;
   background-repeat: no-repeat;
 }
 .L{
   grid-column-start: 1;
   width: 100%;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 .CirculoPT{
   width: 140px;
   height: 140px;
   grid-column-start: 2;
   grid-column-end: 2;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   background-color: rgba(191, 45, 50, 0.51);
   background-image:url(img/Tomoyo.png);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   background-size: 15rem;
   background-position: -3rem -1rem;
 }
 .T{
   grid-column-start: 2;
   width: 100%;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
.CirculoPC{
  width: 140px;
  height: 140px;
  grid-column-start: 2;
  grid-column-end: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: rgba(191, 45, 50, 0.51);
  background-image:url(img/Cerberus.png);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-size: 7rem;
  background-position: 1rem 0.5rem;
  background-repeat: no-repeat;
}
.C{
   grid-column-start: 1;
  width: 100%;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
.CirculoPTO{
  width: 140px;
  height: 140px;
  grid-column-start: 2;
  grid-column-end: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: rgba(191, 45, 50, 0.51);
  background-image:url(img/Toya.png);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-size: 13rem;
  background-position: -2rem -1rem;
}
.To{
   grid-column-start: 2;
   width: 100%;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
.CirculoPY{
   width: 140px;
   height: 140px;
   grid-column-start: 1;
   grid-column-end: 2;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   background-color: rgba(191, 45, 50, 0.51);
   background-image:url(img/Yukito.jpg);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   background-size: 9rem;
   background-position: 0rem 0rem; 
 }
 .Y{
   grid-column-start: 1;
   width: 100%;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 .CirculoPYu{
   width: 140px;
   height: 140px;
   grid-column-start: 2;
   grid-column-end: 2;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   background-color: rgba(191, 45, 50, 0.51);
   background-image:url(img/Yue.png);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   background-size: 10rem;
   background-position: 0rem -1rem;
 }
 .Yu{
   grid-column-start: 2;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
 }
 /* Fin Personajes */
 /* inicio Poderes*/
 #rect6{
   width: 100%;
   height: auto;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   background: rgba(0, 0, 0, 0.49);
}
 .verMas{
   font-family: Reem Kufi;
   background: #164576;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
   border: none;
   font-size: 30px;
   line-height: 45px;
   text-align: center;
   color: #FFFFFF;
   padding: 0.4rem 2rem;
   margin-top: 0.5rem;
   margin-left: 5rem;
}
#VerPoderes{
   display: none; 
   font-family: Reem Kufi;
   font-size: 20px;
   line-height: 36px;
   text-align: justify;
   color: #FFFFFF;  
   margin: 0rem 1rem 0rem 1rem;
   margin-top: 1rem;
 }
#PoderesT{
   width: 210px;
    margin-top: -6rem;
    margin-left: 8rem;
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 35px;
    text-align: center;  
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
}
#Parrafo6{ 
   margin: 0rem 1rem 0rem 1rem;
   margin-top: 3rem;
   font-family: Reem Kufi;
   font-size: 20px;
   line-height: 36px;
   text-align: justify;      
   color: #FFFFFF;
}
#imgKero6{
   width: 127px;
   height: 181px;
   margin-top: -3rem;
   margin-left: 2rem;
   
}
/*Fin Poderes*/
/*Inicio Anime/Manga*/
#rect7{
   width: 100%;
   height: auto;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   background: rgba(0, 0, 0, 0.49);
}
#Parrafo7{
   margin: 0rem 1rem 0rem 1rem;
   margin-top: 3rem;
   font-family: Reem Kufi;
   font-size: 20px;
   line-height: 36px;
   text-align: justify;      
   color: #FFFFFF;
}
.verMas7{
   font-family: Reem Kufi;
   background: #164576;
   border: none;
   box-shadow: 0px 7px 30px #000000;
   font-size: 30px;
   text-align: auto;
   color: #FFFFFF;
   margin-top: 0.5rem;
   width: 100%;
  }
#MangaT{
   width: 210px;
   margin-left: 4rem;
   font-family: Reem Kufi;
   font-size: 40px;
   line-height: 35px;
   text-align: center;  
   color: #FFFFFF;
   text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); 
}
#Parrafo8{
   margin: 0rem 1rem 0rem 1rem;
   margin-top: 1rem;
   font-family: Reem Kufi;
   font-size: 20px;
   line-height: 36px;
   text-align: justify;      
   color: #FFFFFF;
   
}
.verMas8{
   font-family: Reem Kufi;
   background: #164576;
   border: none;
   box-shadow: 0px 7px 30px #000000;
   font-size: 30px;
   text-align: auto;
   color: #FFFFFF;
   margin-top: 0.5rem;
   width: 100%;
 }
/*Fin Anime/Manga*/

#footer{
   width: 100%;
   height: auto;
   margin-bottom: -5px;
   background: rgba(151, 151, 151, 0.46);
   justify-content: space-between;
}
#redes{
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   width: 128px;
   height: 31px;
   padding-top: 1rem;
}
#Fparrafo{
display: flex;
flex-direction: column;
display: block;
margin-left: auto;
margin-right: auto;
font-family: Reem Kufi;
font-size: 12px;
width: 50%;
color: black;
text-align: center;
}
#logov{

display: flex;
flex-direction: column;
display: block;
margin-left: auto;
margin-right: auto;
width: 70px;
}

.Enlaces{
   display: none;
}
#Fondo{
   display: none;
}
#frase2{
   display: none;
}
@media screen and (min-width:800px){
   main{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
  }
   .Enlaces{
   display: flex;
   margin-left: -70%;
   }
   a{
      padding-left: 3.5rem;
      padding-top: 0.5rem;
      font-size:120%;
      color: white;
      text-decoration: none;
      text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
   }
   #header{
      display: inline-flex;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
   }
   #recta{
      padding-left: 2%;
      padding-right: 2%;
      height: 72px;
   }
   #logo{
      width: 14rem;
      height: 6rem;
      left: 4%;
      top: -2rem;
   }
   #simbolo{
      width: 50rem;
      height: 50rem;
      margin-left: 34rem;
      margin-top: -12rem;
   }
   /*Bonton menu*/
   #menu{
      display: none;
      
   }
   label menu {
      user-select: none;
      display: none;
   }
   ul{
      display: none;
      
   }   
                  
     /*Header*/
     /*Inicio*/
   #inicio{
      width: 100%;
      height: 673px;
      margin-bottom: 1rem;
   }
   #sakura1{
      width: 750px;
      height: 642px;
      margin-right: 2rem;
    }
   #frase{
      display: none;
   }
   #Rectangulo{
      width: 100%;
      margin-top: -30rem;
      margin-bottom: 2.4rem;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 15px;
      height: auto;
   }
    #frase2{
      display: flex;
      flex-direction: row;
      width: 30%;
      padding-top: 3rem;
      padding-left: 25%;
      font-family: Reem Kufi;
      font-size: 36px;
      line-height: 45px;
      -webkit-text-stroke: 1px #B07070;
      color: #FFFFFF;
      text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.46);
    }
    #frase3{
      display: flex;
      flex-direction: row;
      margin-top: 0rem;
      padding-bottom: 3rem;
      padding-left: 25%;
      font-family: Reem Kufi;
      font-size: 64px;
      line-height: 45px;
      text-align: center;
      -webkit-text-stroke: 1px #B07070;
      color: #FFFFFF;
      text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.46);
    }
    #Sakuras{
       display: flex;
       width: 50%;
       margin-top: -70rem;
       margin-left:-4rem;
       transform: scaleX(-1);
       transform: rotate(90deg);
    }
    #fondo1{
      display: none;
    }
    /*inicio*/
    /*sinopsis*/

   #rect1{    
      width: 100%;
      height: auto;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      padding-right: -2rem;
      background: rgba(0, 0, 0, 0.49);
   }
   #imgkero1{   
      width: 285px;
      height: 215px;
      margin-top: -3rem;
   }
   #sinopsist{   
      width: 231px;
      height: 50px;
      margin-top:-7rem;
      margin-bottom: 4rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 72px;
      text-align: center;
   }
   #br1{
   display: none;
   }

   #parrafo1{ 
      width: 70%;
      height: auto;
      margin-top: -0.5rem;
      padding-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      font-family: Reem Kufi;
      font-size: 20px;
      line-height: 35px;
      text-align: justify; 
      color: #FFFFFF;
   }
   
   /* #vermas{
       position: absolute;
       width: 222px;
       height: 58px;
       left: 59px;
       top: 804px;
   background: #164576;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
   } */
    /*sinopsis*/
    /*cartas*/
    .row{
      display: grid;
      grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
      gap: 10px;
      margin-bottom: 2rem;
      
      margin-left: auto;
      margin-right: auto;
    }
    /* inicio Lista cartas*/
    #rect2{
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1; 
      align-items: stretch;
      width: 100%; 
      height: auto;
      background: rgba(0, 0, 0, 0.49);
    }
    #cartasT{   
      height: 64.86px;
      margin-top: -7rem;
      margin-left: 9rem;
      font-family: Reem Kufi;
      font-size: 60px;
      line-height: 60px;
      text-align: center; 
      color: #FFFFFF; 
      text-shadow: 0px 4px 8px rgb(99, 99, 99);
    }
    #parrafo2{ 
      display: block;
       margin-right: auto;
       margin-left: auto;
      font-family: Reem Kufi;
      font-size: 20px;
      line-height: 36px;
      text-align: justify; 
      color: #FFFFFF;
    }
   .verlistat{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10rem;
   }
   #verlista{
      display: block;
      margin-left: 2rem;
      margin-right: 2rem;
      display: none;
      flex-direction: column;
      align-items: center;
      width: auto;
      background: rgba(191, 45, 50, 0.51);
      box-shadow: 0px 4px 6px #000000;
   }
   td{
      margin: auto;
      font-family: Reem Kufi;
      font-size: 4vh;
      line-height: 1.5rem;
      border-bottom: 1px solid black;
      text-align: center;
      color: #FFFFFF;
   }
   tr{
      margin: auto;
      font-family: Reem Kufi;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      color: #000000;
      height: 3rem;
   }
   .tituloTabla{
       border-bottom: 1px solid #000000;
       height: 3rem;
       width: 8.75rem;
       text-align: center;
       margin: -4px;
       box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
   }
    /*Fin Lista cartas*/
    /*Inicio Cartas Clow*/
    #rect3{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1; 
    }
    #CartasClowT{
       margin-top: 2rem;
       margin-right: auto;
       margin-left: auto;
       font-size: 60px;
       line-height: 44px;
       text-align: center;  
       text-shadow: 0px 4px 8px rgb(99, 99, 99);
    }
    #imgKero3{
       display: none;
    }
    #Parrafo3{
       width: 80%;
       display: block;
       margin-right: auto;
       margin-left: auto;
       font-size: 20px;
       line-height: 36px;
    }
    .verCartasTC{
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: 1rem;
       }
   /* Fin Cartas Clow */
   /* Inicio Cartas Sakura */
   #rect4{
      grid-column-start: 3;
      grid-column-end: 4;
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.49);
    }
    #CartasSakuraT{
       width: 50%;
       margin-left: 1rem;
       font-size: 60px;
       margin-top: 2rem;
       line-height: 47px;
       text-shadow: 0px 4px 8px rgb(99, 99, 99);
    }
    #imgKero4{
       float: right;
      transform: scaleX(-1);
    }
    #Parrafo4{
      display: block;
      margin-right: auto;
      margin-left: auto;
       width: 80%;
       font-size: 24px;
       line-height: 36px;
    }
   #VerCartasS{
       display: none;  
    }
   #ImgCartasSakura{
       width: 20rem;
       margin-top: 1rem;
       margin-left: 3rem;
   }
   /* Fin Cartas Sakura */
   /* inicio Personajes */
    #rect5{

       width: 100%;
       height: auto;
       margin-left: 0.1rem;
       margin-bottom: 2rem;
       padding-bottom: 2rem;
       background: rgba(0, 0, 0, 0.49);
    }
    #PersonajesT{

       margin-top: -10rem;
       display: block;
       margin-left: auto;
       margin-right: auto;
       font-size: 60px;
       text-shadow: 0px 4px 8px rgb(99, 99, 99);
      }
    #imgKero5{
       width: 250px;
      margin-top: 2rem;
      margin-left: 9rem;
    }
    #Parrafo5{
       display: none;
    }
    .FPersonajes{
      grid-column: x0 / x4;
      grid-row: y0 / y4;
      row-gap: 5px;
    }
    .S{
      grid-column-start: 1;
      grid-column-end: 2;
    }
   .CirculoPS{
      grid-column-start: 1;
      grid-column-end: 2;
      width: 200px;
      height: 200px;
      background-size: 15rem;
    }
    .K{
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .CirculoPK{
      grid-column-start: 2;
      grid-column-end: 2;
      width: 200px;
      height: 200px;
      background-size: 25rem;
      background-position: -13rem 0.5rem;
    }
    .L{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
    }
    .CirculoPL{
      grid-column-start: 3;
      grid-column-end: 3;
      width: 200px;
      height: 200px;
      background-size: 15rem;
      background-position: -3rem 0.5rem;
    }
    .T{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .CirculoPT{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      width: 200px;
      height: 200px;
      background-size: 15rem;
      background-position: -1rem -1rem;
    }
   .CirculoPC{
      width: 200px;
      height: 200px;
     background-size: 10rem;
     background-position: 2rem 0.5rem;
   }
   .CirculoPTO{
     width: 200px;
     height: 200px;
     background-size: 17rem;
     background-position: -2rem 0.1rem;
   }
   .Y{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 3;
   }
   .CirculoPY{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      width: 200px;
      height: 200px;
      background-size: 13rem;
      background-position: 0rem 0rem;
    }
    .Yu{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 3;
   }
    .CirculoPYu{
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      width: 200px;
      height: 200px;
      background-size: 13rem;
      background-position: 0rem -1rem;
    } 
    /* Fin Personajes */
    /* inicio Poderes*/
   #VerPoderes{
      display: none; 
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    }
   #PoderesT{
      flex-direction: row;
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: -10rem;
       font-size: 60px;
       line-height: 35px;
       text-shadow: 0px 4px 8px rgb(99, 99, 99);
   }
   #Parrafo6{ 
      width: 70%;
      height: auto;
      padding-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
   }
   #imgKero6{
      flex-direction: row;
      width: 227px;
      height: 281px;
      margin-top: -3rem;
      margin-left: 2rem;
   }
   /*Fin Poderes*/
   /*Inicio Anime/Manga*/
   #Parrafo7{
      width: 70%;
      padding-bottom: 2rem;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
   }
   #MangaT{
      width: 210px;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 60px;
      text-align: center;  
      text-shadow: 0px 4px 8px rgb(99, 99, 99);
   }
   #Parrafo8{
      width: 70%;
      padding-bottom: 2rem;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
   }
}
